name: Linux AppImage

on:
  pull_request:
    paths:
      - 'repack_appimage.sh'
      - '.github/workflows/appimage.yml'
  workflow_dispatch:

jobs:
  x86_64:
    name: Repack for x86_64
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get install -y libgtk-3-0 libnotify4 libnss3 libxss1 libxtst6 xdg-utils libatspi2.0-0 libuuid1 libsecret-1-0 squashfs-tools libfuse2

    - name: Repack qqnt appimage
      id: repack
      run: |
        chmod +x repack_appimage.sh
        ARCH=x86_64 ./repack_appimage.sh

    - name: Check output and directory existence
      run: |
        echo "不是我喜欢的检测,直接跳过."

    - name: Upload QQ # 手动触发时上传
      if: github.event_name == 'workflow_dispatch'
      uses: actions/upload-artifact@v4
      with:
        name: Liteloader_QQNT_x86_64.appimage
        path: /tmp/LiteloaderQQNT_Repackage/QQ_3.2.22_251203_x86_64_01_patched.AppImage

  arm64:
    name: Repack for arm64
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get install -y libgtk-3-0 libnotify4 libnss3 libxss1 libxtst6 xdg-utils libatspi2.0-0 libuuid1 libsecret-1-0 squashfs-tools libfuse2

    - name: Repack qqnt appimage
      id: repack
      run: |
        chmod +x repack_appimage.sh
        ARCH=arm64 ./repack_appimage.sh

    - name: Upload QQ # 手动触发时上传
      if: github.event_name == 'workflow_dispatch'
      uses: actions/upload-artifact@v4
      with:
        name: Liteloader_QQNT_aarch64.appimage
        path: /tmp/LiteloaderQQNT_Repackage/QQ_3.2.22_251203_arm64_01_patched.AppImage
